server {
    listen 80;
    server_name wp.dev-tf-wp.com;
    root /var/www/wp.dev-tf-wp.com;
    index index.php index.html;

    {% if basic_auth_enabled %}
    auth_basic "Under Construction";
    auth_basic_user_file /etc/nginx/.htpasswd;
    {% endif %}

    location / {
        try_files $uri $uri/ /index.php?$args;
    }

    location ~ \.php$ {
        include fastcgi_params;
        fastcgi_pass unix:/var/run/php-fpm/php-fpm.sock;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
    }
}